<header>
<meta name="viewport" content="initial-scale=1.0" />
</header>
<body>
<p>Last modified:&nbsp;March 15, 2020</p>
<p>&nbsp;</p>
<p><strong><u>Introduction</u></strong></p>
<p>Social Active LLC ("<strong>Company</strong>" or "<strong>We</strong>") respect your privacy and are committed to protecting it through our compliance with this policy. This policy describes:</p>
<ul>
<li>The types of information we may collect or that you may provide when you install, access, or use DTR (the "<strong>App</strong>").</li>
<li>Our practices for collecting, using, maintaining, protecting, and disclosing that information.</li>
</ul>
<p>This policy applies only to information we collect in this App, in email, text, and other electronic communications sent through or in connection with this App.</p>
<p>This policy DOES NOT apply to information that:</p>
<ul>
<li>We collect offline or on any other Company apps or websites, including websites you may access through this App.</li>
<li>You provide to or is collected by any third party.</li>
</ul>
<p>Our websites and apps, and these third parties may have their own privacy policies, which we encourage you to read before providing information on or through them.</p>
<p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, do not download, register with, or use this App. By downloading, registering with, or using this App, you agree to this privacy policy. This policy may change from time to time our continued use of this App after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>
<p><strong><u>Children Under the Age of 13</u></strong></p>
<p>The App is not intended for children under 13 years of age, and we do not knowingly collect personal information from children under 13. If we learn we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under 13, please contact us.</p>
<p><strong><u>Information We Collect and How We Collect It</u></strong></p>
<p>We collect information from and about users of our App:</p>
<ul>
<li>Directly from you when you provide it to us.</li>
<li>Automatically when you use the App.</li>
</ul>
<p><strong><u>Information You Provide to Us</u></strong>&nbsp;</p>
<p>When you download, register with, or use this App, we may ask you provide information:</p>
<ul>
<li>By which you may be personally identified, such as name, postal address, email address, telephone number, any other identifier by which you may be contacted online or offline ("<strong>personal information</strong>").</li>
<li>That is about you but individually does not identify you, such as your likes and dislikes and other types of profile information and content that you post on the App.</li>
</ul>
<p>This information includes:</p>
<ul>
<li>Information that you provide by filling in forms in the App. This includes information provided at the time of registering to use the App, subscribing to our service, posting material, and requesting further services. We may also ask you for information when you enter a contest or promotion sponsored by us, and when you report a problem with the App.</li>
<li>Records and copies of your correspondence (including email addresses and phone numbers), if you contact us.</li>
<li>Your responses to surveys that we might ask you to complete for research purposes.</li>
<li>Details of transactions you may carry out through the App and of the fulfillment of your orders. You may be required to provide financial information before placing an order through the App.</li>
<li>Your search queries on the App.</li>
</ul>
<p>You may provide information to be published or displayed ("<strong>Posted</strong>") on public areas of the App (collectively, "<strong>User Contributions</strong>"). Your User Contributions are Posted and transmitted to others at your own risk. Although you may set certain privacy settings for such information by logging into your account profile, please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of third parties with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.</p>
<p><strong><u>Automatic Information Collection</u></strong>&nbsp;&nbsp;</p>
<p>When you download, access, and use the App, it may use technology to automatically collect:</p>
<ul>
<li><strong>Usage Details.</strong> When you access and use the App, we may automatically collect certain details of your access to and use of the App, including location data, logs, and other communication data and the resources that you access and use on or through the App.</li>
<li><strong>Device Information.</strong> We may collect information about your mobile device and internet connection, including the device's unique device identifier, operating system, browser type, mobile network information, and the device's telephone number.</li>
<li><strong>Stored Information and Files.</strong> The App also may access metadata and other information associated with other files stored on your device. This may include, for example, photographs, audio and video clips, personal contacts, and address book information.</li>
<li><strong>Location Information.</strong> This App collects real-time information about the location of your device.</li>
</ul>
<p>If you do not want us to collect this information do not download the App or delete it from your device.&nbsp;</p>
<p><strong><u>Information Collection Technologies</u></strong></p>
<p>The technologies we use for automatic information collection may include cookies (or mobile cookies). A cookie is a small file placed on your smartphone. It may be possible to refuse to accept mobile cookies by activating the appropriate setting on your smartphone. However, if you select this setting you may be unable to access certain parts of our App.</p>
<p><strong><u>Third-Party Information Collection</u></strong></p>
<p>When you use the App or its content, certain third parties may use automatic information collection technologies to collect information about you or your device. These third parties may include:</p>
<ul>
<li>Advertisers, ad networks, and ad servers.</li>
<li>Analytics companies.</li>
<li>Your mobile device manufacturer.</li>
<li>Your mobile service provider.</li>
</ul>
<p>&nbsp;These third parties may use tracking technologies to collect information about you when you use this App. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites, apps, and other online services websites. They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.</p>
<p>We do not control these third parties' tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the responsible provider directly.</p>
<p><strong><u>How We Use Your Information</u></strong></p>
<p>We use information that we collect about you or that you provide to us, including any personal information, to:</p>
<ul>
<li>Provide you with the App and its contents, and any other information, products or services that you request from us.</li>
<li>Fulfill any other purpose for which you provide it.</li>
<li>Give you notices about your account/subscription, including expiration and renewal notices.</li>
<li>Carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
<li>Notify you when App updates are available, and of changes to any products or services we offer or provide though it.</li>
</ul>
<p>The usage information we collect helps us to improve our App and to deliver a better and more personalized experience by enabling us to:</p>
<ul>
<li>Estimate our audience size and usage patterns.</li>
<li>Store information about your preferences, allowing us to customize our App according to your individual interests.</li>
<li>Speed up your searches.</li>
<li>Recognize you when you use the App.</li>
</ul>
<p>&nbsp;We may also use your information to contact you about our own and third parties' goods and services that may be of interest to you. If you do not want us to use your information in this way, please adjust your user preferences in your account profile</p>
<p><strong><u>Disclosure of Your Information</u></strong></p>
<p>We may disclose aggregated information about our users, and information that does not identify any individual or device, without restriction.</p>
<p>In addition, we may disclose personal information that we collect or you provide:</p>
<ul>
<li>To our subsidiaries and affiliates.</li>
<li>To contractors, service providers, and other third parties we use to support our business.</li>
<li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of the company's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Social Active LLC about our App users is among the assets transferred.</li>
<li>To fulfill the purpose for which you provide it.</li>
<li>For any other purpose disclosed by us when you provide the information.</li>
<li>With your consent.</li>
<li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
<li>To enforce our rights arising from any contracts entered into between you and us, including the App EULA, and for billing and collection.</li>
<li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Social Active LLC, our customers or others.</li>
</ul>
<p><strong><u>Your Choices About Our Collection, Use, and Disclosure of Your Information</u></strong></p>
<p>We strive to provide you with choices regarding the personal information you provide to us. This section describes mechanisms we provide for you to control certain uses and disclosures of over your information.</p>
<ul>
<li><strong>Tracking Technologies.</strong> You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. If you disable or refuse cookies or block the use of other tracking technologies, some parts of the App may then be inaccessible or not function properly.</li>
<li><strong>Location Information.</strong> You can choose whether or not to allow the App to collect and use real-time information about your device's location through the device's privacy settings If you block the use of location information, some parts of the App may then be inaccessible or not function properly.</li>
<li><strong>Promotion by the Company.</strong> You can also always opt-out by logging into the App and adjusting your user preferences in your account profile by checking or unchecking the relevant boxes or by sending us an email stating your request.</li>
<li><strong>Disclosure of Your Information for Third-Party Advertising and Marketing.</strong> You can also always opt-out by logging into the App and adjusting your user preferences in your account profile by checking or unchecking the relevant boxes or by sending us an email stating your request.</li>
</ul>
<p>We do not control third parties' collection or use of your information to serve interest-based advertising. However these third parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative ("<strong>NAI</strong>") on the NAI's website.</p>
<p><strong><u>Accessing and Correcting Your Personal Information</u></strong></p>
<p>You can review and change your personal information by logging into the App and visiting your account profile page.</p>
<p>If you delete your User Contributions from the App, copies of your User Contributions may remain viewable in cached and archived pages, or might have been copied or stored by other App users. Proper access and use of information provided on the App, including User Contributions, is governed by our terms of use.</p>
<p><strong><u>Your California Privacy Rights</u></strong></p>
<p>California Civil Code Section 1798.83 permits users of our App that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email.</p>
<p><strong><u>Data Security</u></strong></p>
<p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.</p>
<p>The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our App, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.</p>
<p>Unfortunately, the transmission of information via the internet and mobile platforms is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted through our App. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures we provide.</p>
<p><strong><u>Changes to Our Privacy Policy</u></strong></p>
<p>We may update our privacy policy from time to time. If we make material changes to how we treat our users' personal information, we will post the new privacy policy on this page with a notice that the privacy policy has been updated and notify you by email and/or text message to the primary email address and/or phone number specified in your account.</p>
<p>The date the privacy policy was last revised is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable email address and/or phone number for you and for periodically visiting this privacy policy to check for any changes.</p>
<p><strong><u>Contact Information</u></strong></p>
<p>To ask questions or comment about this privacy policy and our privacy practices, contact us at:</p>
<p>Massimo Baldini</p>
<p>Social Active LLC.</p>
<p>304 W 4th St,</p>
<p>Royal Oak, MI 48067</p>
<p>massimo@tomesoftware.com</p>
</body>
