<header>
<meta name="viewport" content="initial-scale=1.0" />
</header>
<body>
<p>Mobile Application End User License Agreement</p>
<p>This Mobile Application End User License Agreement ("<strong>Agreement</strong>") is a binding agreement between you ("<strong>End User</strong>" or "<strong>you</strong>" or "<strong>your</strong>") and Social Active LLC. ("<strong>Company</strong>"). This Agreement governs your use of the DTR application on the iOS and Android platforms, (including all related documentation, the "<strong>Application</strong>"). The Application is licensed, not sold, to you.</p>
<p>BY DOWNLOADING, INSTALLING, OR USING THE APPLICATION, YOU (A) ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT; (B) REPRESENT THAT YOU ARE 13 YEARS OF AGE OR OLDER; AND (C) ACCEPT THIS AGREEMENT AND AGREE THAT YOU ARE LEGALLY BOUND BY ITS TERMS. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT DOWNLOAD, &nbsp;INSTALL, OR USE THE APPLICATION AND DELETE IT FROM YOUR MOBILE DEVICE.</p>
<ol>
<li>License Grant. Subject to the terms of this Agreement, Company grants you a limited, non-exclusive, and nontransferable license to:
<ul>
<li>download, install, and use the Application for your personal, non-commercial use on a single mobile device owned or otherwise controlled by you ("<strong>Mobile Device</strong>") strictly in accordance with this Agreement and the Application's documentation; and</li>
<li>access, stream, download, and use on such Mobile Device the Content and Services (as defined in Section 5) made available in or otherwise accessible through the Application, strictly in accordance with this Agreement as set forth in Section 5.</li>
</ul>
</li>
<li>License Restrictions. Licensee shall not:
<ul>
<li>copy the Application, except as expressly permitted by this license;</li>
<li>modify, translate, adapt, or otherwise create derivative works or improvements, whether or not patentable, of the Application;</li>
<li>reverse engineer, disassemble, decompile, decode, or otherwise attempt to derive or gain access to the source code of the Application or any part thereof;</li>
<li>remove, delete, alter, or obscure any trademarks or any copyright, trademark, patent, or other intellectual property or proprietary rights notices from the Application, including any copy thereof;</li>
<li>rent, lease, lend, sell, sublicense, assign, distribute, publish, transfer, or otherwise make available the Application, or any features or functionality of the Application, to any third party for any reason, including by making the Application available on a network where it is capable of being accessed by more than one device at any time; or</li>
<li>remove, disable, circumvent, or otherwise create or implement any workaround to any copy protection, rights management, or security features in or protecting the Application.</li>
</ul>
</li>
<li>Reservation of Rights. You acknowledge and agree that the Application is provided under license, and not sold, to you. You do not acquire any ownership interest in the Application under this Agreement, or any other rights thereto other than to use the Application in accordance with the license granted, and subject to all terms, conditions, and restrictions, under this Agreement. Company and its licensors and service providers reserves and shall retain their entire right, title, and interest in and to the Application, including all copyrights, trademarks, and other intellectual property rights therein or relating thereto, except as expressly granted to you in this Agreement.</li>
<li>Collection and Use of Your Information. You acknowledge that when you download, install, or use the Application, Company may use automatic means (including, for example, cookies and web beacons) to collect information about your Mobile Device and about your use of the Application. You also may be required to provide certain information about yourself as a condition to downloading, installing, or using the Application or certain of its features or functionality, and the Application may provide you with opportunities to share information about yourself with others. All information we collect through or in connection with the Application is subject to our Privacy Policy. By downloading, installing, using, and providing information to or through this Application, you consent to all actions taken by us with respect to your information in compliance with the Privacy Policy.</li>
<li>Content and Services. The Application may provide you with access to certain contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof) which are owned by the Company, its licensors, or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws ("<strong>Content and Services</strong>"). Company permits you to use the Content and Services for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on the Application except as specifically provided by the Application.</li>
<li>User Contributions.
<ul>
<li>The Application may contain message boards, chat rooms, profiles, forums, bulletin boards, in-app messaging, and other interactive features (collectively, "<strong>Interactive Services</strong>") that allow users to post, submit, publish, display, or transmit to other users or other persons (hereinafter, "<strong>post</strong>") content or materials (collectively, "<strong>User Contributions</strong>") on or through the Applications. All User Contributions must comply with the Content Standards set out in this Agreement. Any User Contribution you post to the site will be considered non-confidential and non-proprietary. By providing any User Contribution on or through the Application, you grant us and our affiliates and service providers, and each of their and our respective licensees, successors, and assigns the right to use, reproduce, modify, perform, display, distribute, and otherwise disclose to third parties any such material for any purpose.</li>
<li>You represent and warrant that: (a) you own or control all rights in and to the User Contributions and have the right to grant the license granted above to us and our affiliates and service providers, and each of their and our respective licensees, successors, and assigns, (b) all of your User Contributions do and will comply with this Agreement, (c) you understand and acknowledge that you are responsible for any User Contributions you submit or contribute, and you, not the Company, have full responsibility for such content, including its legality, reliability, accuracy, and appropriateness. We are not responsible or liable to any third party for the content or accuracy of any User Contributions posted by you or any other user of the Application.</li>
</ul>
</li>
<li>Copyright Policy. Company takes claims of copyright infringement seriously. Company will respond to notices of alleged copyright infringement that comply with applicable law. If you believe any materials accessible on or from the Application infringe your copyright, you may request removal of those materials (or access to them) from the Application by submitting written notification to our copyright agent designated below. In accordance with the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17 U.S.C. &sect; 512) ("<strong>DMCA</strong>"), the written notice (the "<strong>DMCA Notice</strong>") must include substantially the following: (a) your physical or electronic signature; (b) identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Application, a representative list of such works; (c) identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material; (d) adequate information by which Company can contact you (including your name, postal address, telephone number, and, if available, email address); (e) a statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent, or the law; (f) a statement that the information in the written notice is accurate; and (g) a statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner. Company's designated copyright agent to receive DMCA Notices is:</li>
</ol>
<blockquote>
<p style="text-align: center;">Massimo Baldini</p>
<p style="text-align: center;">Social Active LLC</p>
<p style="text-align: center;">304 W 4th St,</p>
<p style="text-align: center;">Royal Oak, MI 48067</p>
<p style="text-align: center;">massimo@tomesoftware.com</p>
</blockquote>
<p>If you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective. Please be aware that if you knowingly materially misrepresent that material or activity on the Application is infringing your copyright, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA. It is Company's policy in appropriate circumstances to disable and/or terminate the accounts of users who are repeat infringers.</p>
<ol start="8">
<li>Updates. Company may from time to time in its sole discretion develop and provide Application updates, which may include upgrades, bug fixes, patches, other error corrections, and/or new features (collectively, including related documentation, "<strong>Updates</strong>"). Updates may also modify or delete in their entirety certain features and functionality. You agree that Company has no obligation to provide any Updates or to continue to provide or enable any particular features or functionality. Based on your Mobile Device settings, when your Mobile Device is connected to the internet either:
<ul>
<li>the Application will automatically download and install all available Updates; or</li>
<li>you may receive notice of or be prompted to download and install available Updates.</li>
</ul>
</li>
</ol>
<p>You shall promptly download and install all Updates and acknowledge and agree that the Application or portions thereof may not properly operate should you fail to do so. You further agree that all Updates will be deemed part of the Application and be subject to all terms and conditions of this Agreement.</p>
<ol start="9">
<li>Third-Party Materials. The Application may display, include, or make available third-party content (including data, information, applications, and other products, services, and/or materials) or provide links to third-party websites or services, including through third-party advertising ("<strong>Third-Party Materials</strong>"). You acknowledge and agree that Company is not responsible for Third-Party Materials, including their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality, or any other aspect thereof. Company does not assume and will not have any liability or responsibility to you or any other person or entity for any Third-Party Materials. Third-Party Materials and links thereto are provided solely as a convenience to you, and you access and use them entirely at your own risk and subject to such third parties' terms and conditions.</li>
<li>Term and Termination.
<ul>
<li>The term of Agreement commences when you download the Application and will continue in effect until terminated by you or Company as set forth in this Section 10.</li>
<li>You may terminate this Agreement by deleting the Application and all copies thereof from your Mobile Device.</li>
<li>Company may terminate this Agreement at any time without notice if it ceases to support the Application, which Company may do in its sole. In addition, this Agreement will terminate immediately and automatically without any notice if you violate any of the terms and conditions of this Agreement.</li>
<li>Upon termination:
<ul>
<li>all rights granted to you under this Agreement will also terminate; and</li>
<li>you must cease all use of the Application and delete all copies of the Application from your Mobile Device and account.</li>
</ul>
</li>
<li>Termination will not limit any of Company's rights or remedies at law or in equity.</li>
</ul>
</li>
<li>Disclaimer of Warranties. THE APPLICATION IS PROVIDED TO LICENSEE "AS IS" AND WITH ALL FAULTS AND DEFECTS WITHOUT WARRANTY OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, COMPANY, ON ITS OWN BEHALF AND ON BEHALF OF ITS AFFILIATES AND ITS AND THEIR RESPECTIVE LICENSORS AND SERVICE PROVIDERS, EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, WITH RESPECT TO THE APPLICATION, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, AND WARRANTIES THAT MAY ARISE OUT OF COURSE OF DEALING, COURSE OF PERFORMANCE, USAGE, OR TRADE PRACTICE. WITHOUT LIMITATION TO THE FOREGOING, COMPANY PROVIDES NO WARRANTY OR UNDERTAKING, AND MAKES NO REPRESENTATION OF ANY KIND THAT THE APPLICATION WILL MEET YOUR REQUIREMENTS, ACHIEVE ANY INTENDED RESULTS, BE COMPATIBLE, OR WORK WITH ANY OTHER SOFTWARE, APPLICATIONS, SYSTEMS, OR SERVICES, OPERATE WITHOUT INTERRUPTION, MEET ANY PERFORMANCE OR RELIABILITY STANDARDS, OR BE ERROR-FREE, OR THAT ANY ERRORS OR DEFECTS CAN OR WILL BE CORRECTED.</li>
</ol>
<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF OR LIMITATIONS ON IMPLIED WARRANTIES OR THE LIMITATIONS ON THE APPLICABLE STATUTORY RIGHTS OF A CONSUMER, SO SOME OR ALL OF THE ABOVE EXCLUSIONS AND LIMITATIONS MAY NOT APPLY TO YOU.</p>
<ol start="12">
<li>Limitation of Liability. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL COMPANY OR ITS AFFILIATES, OR ANY OF ITS OR THEIR RESPECTIVE LICENSORS OR SERVICE PROVIDERS, HAVE ANY LIABILITY ARISING FROM OR RELATED TO YOUR USE OF OR INABILITY TO USE THE APPLICATION OR THE CONTENT AND SERVICES FOR:
<ul>
<li>PERSONAL INJURY, PROPERTY DAMAGE, LOST PROFITS, COST OF SUBSTITUTE GOODS OR SERVICES, LOSS OF DATA, LOSS OF GOODWILL, BUSINESS INTERRUPTION, COMPUTER FAILURE OR MALFUNCTION, OR ANY OTHER CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL, OR PUNITIVE DAMAGES.</li>
<li>DIRECT DAMAGES IN AMOUNTS THAT IN THE AGGREGATE EXCEED THE AMOUNT ACTUALLY PAID BY YOU FOR THE APPLICATION.</li>
</ul>
</li>
</ol>
<p>THE FOREGOING LIMITATIONS WILL APPLY WHETHER SUCH DAMAGES ARISE OUT OF BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE OR COMPANY WAS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW CERTAIN LIMITATIONS OF LIABILITY SO SOME OR ALL OF THE ABOVE LIMITATIONS OF LIABILITY MAY NOT APPLY TO YOU.</p>
<ol start="13">
<li>Indemnification. You agree to indemnify, defend, and hold harmless Company and its officers, directors, employees, agents, affiliates, successors, and assigns from and against any and all losses, damages, liabilities, deficiencies, claims, actions, judgments, settlements, interest, awards, penalties, fines, costs, or expenses of whatever kind, including reasonable attorneys' fees, arising from or relating to your use or misuse of the Application or your breach of this Agreement, including but not limited to the content you submit or make available through this Application.</li>
<li>Export Regulation. The Application may be subject to US export control laws, including the US Export Administration Act and its associated regulations. You shall not, directly or indirectly, export, re-export, or release the Application to, or make the Application accessible from, any jurisdiction or country to which export, re-export, or release is prohibited by law, rule, or regulation. You shall comply with all applicable federal laws, regulations, and rules, and complete all required undertakings (including obtaining any necessary export license or other governmental approval), prior to exporting, re-exporting, releasing, or otherwise making the Application available outside the US.</li>
<li>US Government Rights. The Application is commercial computer software, as such term is defined in 48 C.F.R. &sect;2.101. Accordingly, if you are an agency of the US Government or any contractor therefor, you receive only those rights with respect to the Application as are granted to all other end users under license, in accordance with (a) 48 C.F.R. &sect;227.7201 through 48 C.F.R. &sect;227.7204, with respect to the Department of Defense and their contractors, or (b) 48 C.F.R. &sect;12.212, with respect to all other US Government licensees and their contractors.</li>
<li>Severability. If any provision of this Agreement is illegal or unenforceable under applicable law, the remainder of the provision will be amended to achieve as closely as possible the effect of the original term and all other provisions of this Agreement will continue in full force and effect; provided, however, that if any fundamental term or provision of this Agreement is invalid, illegal, or unenforceable, the remainder of this Agreement shall be unenforceable.</li>
<li>Governing Law. This Agreement is governed by and construed in accordance with the internal laws of the State of Michigan without giving effect to any choice or conflict of law provision or rule. Any legal suit, action, or proceeding arising out of or related to this Agreement or the Application shall be instituted exclusively in the federal courts of the United States or the courts of the State of Michigan in each case located in The City of Royal Oak and Oakland County. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</li>
<li>Limitation of Time to File Claims. ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THIS AGREEMENT OR THE APPLICATION MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES OTHERWISE SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.</li>
<li>Entire Agreement. This Agreement and our Privacy Policy constitute the entire agreement between you and Company with respect to the Application and supersede all prior or contemporaneous understandings and agreements, whether written or oral, with respect to the Application.</li>
</ol>
<p>Waiver. No failure to exercise, and no delay in exercising, on the part of either party, any right or any power hereunder shall operate as a waiver thereof, nor shall any single or partial exercise of any right or power hereunder preclude further exercise of that or any other right hereunder. In the event of a conflict between this Agreement and any applicable purchase or other terms, the terms of this Agreement shall govern.</p>
</body>
